.app {
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  padding-top: 60px; /* Altura del header */
}

.content {
  margin-left: 200px; /* Ancho del sidebar */
  padding: 20px;
}
